@using Beehouse.Web.Components.Common
@using System.Linq.Expressions


<div class="form-group row @(Hidden ? "d-none" :  "")">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="col-form-label col text-md-right">@Label</label>
    }
<div class="col-sm-12 col-md">

    @if (Type == ElementValueType.Text)
    {
        <InputText class="form-control" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" @attributes="InputAttributes"></InputText>
    }
    else if (Type == ElementValueType.Number)
    {
        <InputText class="form-control number" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" @attributes="InputAttributes"></InputText>
    }
    else if (Type == ElementValueType.Weight)
    {
        <InputText class="form-control number-weight" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" @attributes="InputAttributes"></InputText>
    }
    else if (Type == ElementValueType.Money)
    {
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">R$</div>
            </div>
            <InputText class="form-control money" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" @attributes="InputAttributes"></InputText>
        </div>
    } 
    else if (Type == ElementValueType.Date)
    {
        <InputText class="form-control date" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" @attributes="InputAttributes"></InputText>
    }
</div>
</div>